@-ms-viewport {
  width: device-width;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

:root {
  --primaryColor: #0c1824;
  --black: #000;
  --white: #fff;
}

/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 17px;
  color: var(--primaryColor);
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
}
/* -----USER ACCOUNT PAGE----- */
/* -----NAVIGATION BAR STYLE---- */
nav {
  padding: 8px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 45%;
  margin-left: -45%;
  background: var(--primaryColor);
  color: var(--white);
  transition: all 0.5s;
  z-index: 100;
}
.sidebar #logo {
  color: var(--white) !important;
  font-size: 30px;
  padding: 2px 5px;
  margin: 5px 0 25px 1px;
  position: absolute;
  top: 0;
}
.sidebarItems {
  padding-left: 15px;
  line-height: 50px;
  margin: 30px auto;
}
.sidebar img {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 40px auto 15px auto;
}
.sidebar img:hover {
  opacity: 0.8;
}
.sidebarItems a {
  font-size: 15px;
  text-decoration: none;
  color: var(--white);
}
.sidebarItems a:hover {
  cursor: pointer;
  color: #d9cec6;
}
.sidebar .userName {
  display: none;
}
.landingProfile h4 {
  color: var(--black);
  justify-content: flex-start;
  padding: 10px;
}
nav #menuLogo {
  color: var(--black);
  font-size: 25px;
  padding: 2px 10px;
}
/* -----NAVIGATION BAR STYLE---- */
.landingProfile #nav-container #logo {
  padding: 10px;
  font-size: 30px;
  position: absolute;
  top: 0;
  color: #d9cec6;
}

.landingProfile {
  position: absolute;
  top: 0px;
  background: none;
  color: var(--white);
  box-shadow: none;
}

#navbar {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
}

.landingProfile #nav-container #logo {
  font-size: 30px;
  color: var(--black);
  top: 0;
  position: absolute;
  padding: 5px;
  margin-top: 0px;
}
.landingProfile #nav-container .userName {
  font-size: 20px;
}
#nav-container {
  margin: 0 auto;
  display: inline-flex;
  float: left;
  justify-content: left;
}
/* --- USER ACCOUNT PAGE END--- */

.accountInfo {
  text-align: center;
  width: 100%;
  line-height: 50px;
}
.accountInfo .transactionInfo {
  text-align: left;
  width: 100%;
}
.accountInfo a {
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: var(--black);
}
.accountInfo a:hover {
  color: var(--primaryColor);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

/* ---- NAVIGATION END----- */

.userAccountCoverPage {
  height: calc(100vh- 20px);
  text-align: center;
  margin: 60px auto 0 auto;
  font-size: 15px;
  line-height: 30px;
}
.userAccountCoverPage #accountSection .details {
  background: #ddd !important;
  border-radius: 4px;
  margin-bottom: 50px;
  border: 1px black solid;
  text-align: left;
}
.userAccountCoverPage #accountSection {
  text-align: left;
  margin: 0 auto;
  max-width: 80%;
}
div.bankAccountInfo.user {
  margin: 0 auto;
  width: 90% !important;
}
.userInfo h4 {
  margin: 0 auto;
  font-size: 15px;
}
.userAccountCoverPage h4 {
  text-align: left;
  font-size: 15px;
  margin-left: 10%;
  padding: 0;
}

div.topDivs {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.userAccountCoverPage .infoDiv {
  text-align: left;
  font-size: 15px;
  padding: 0;
}

.userAccountCoverPage div.viewAllBtn {
  float: right;
  font-size: 20px;
  /* padding-left: 40px; */
}
#accountSection ul li b {
  padding: 0 5px;
}
.userAccountCoverPage #accountSection ul {
  list-style: none;
}

/* ----NAVIGATION BAR END----- */

.loginCoverPage {
  background-image: url("../images/landing3.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
.landing #nav-container .nav-title #logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  margin-left: 5px;
  font-size: 40px;
  color: #d9cec6;
}
/* --- CREATE BANK ACCOUNT PAGE --- */
.createBankAccountCoverPage {
  background-image: url("../images/landing1.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.formModal h4 {
  color: #d9cec6;
  text-decoration: none;
}
.formModal a {
  color: #d9cec6;
  text-decoration: none;
}

.formModal {
  margin: 0px auto;
  background-color: #334a5a7d;
  padding: 20px;
  border-radius: 5px;
  width: 88%;
}
.formModal input {
  padding: 6px;
  width: 90%;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font: "Roboto Slab", serif;
}
.formModal select {
  padding: 6px;
  width: 95%;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font: "Roboto Slab", serif;
}
.formModal label {
  float: left;
  text-align: left;
  margin-left: 10px;
}
.formModal #img {
  color: #d9cec6;
}

.formModal .loginBtn {
  color: #d9cec6;
  font-size: 18px;
  width: 80%;
  margin: 0px auto;
  text-decoration: none;
  border: var(--primaryColor) 1px solid;
  padding: 6px 20px;
  margin-top: 20px;
}
.formModal .loginBtn:hover {
  background: var(--primaryColor);
  color: var(--white);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.innerFooter {
  width: 100%;
  margin: 0 auto;
  font-size: 10px;
  margin-top: 25px;
}

.innerFooter > .reset {
  float: left;
}
.innerFooter > .create {
  float: right;
}
table button {
  color: var(--primaryColor);
  margin: 0px auto;
  text-decoration: none;
  border: var(--primaryColor) 1px solid;
  padding: 6px 20px;
  font-size: 18px;
  width: 80%;
  border-radius: 3px;
}
table button:hover {
  background: var(--primaryColor);
  color: var(--white);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.pagination {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 25px;
}

.pagination > #left {
  float: left;
}
.pagination > #right {
  float: right;
}
.pagination a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin: 20px;
}
/* End of navigation styling */
/* ----USER ACCOUNT TRANSACTIONS PAGE---- */

.transactionPage {
  height: calc(100vh- 20px);
  text-align: center;
  margin: 100px auto 0 auto;
  font-size: 15px;
  line-height: 30px;
}
.transactionPage h4 {
  text-align: center;
}
.transactionPage p {
  text-align: center;
}
#accountSection .bankAccountInfo {
  overflow-x: auto;
  width: 100%;
  margin: 0 auto;
}
.bankAccountInfo .innerFooter {
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  margin-top: 25px;
}
.bankAccountInfo .innerFooter a {
  text-decoration: none;
  color: var(--primaryColor);
}

.bankAccountInfo .innerFooter > .reset {
  float: left;
}
.bankAccountInfo .innerFooter > .create {
  float: right;
}
.search {
  color: #343a40;
  background: transparent;
  border-color: #343a40;
  padding: 5px;
  border-radius: 2px;
}
.search:hover {
  color: #fff;
  background: #343a40;
  transition: 500ms;
}
.userInfo .filter .searcher input {
  border: 3px #ddd solid;
  width: 70%;
}
.userInfo .filter {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}
.userInfo .filter .searcher {
  width: 100%;
}
.searcher {
  min-width: 100%;
  margin: 8px auto;
}
.searcher input,
.search {
  padding: 5px;
}

/* --- Admin Searcher------ */
.adminSearch {
  background: var(--primaryColor);
  color: var(--white);
  padding: 7px;
  border-radius: 2px;
}
.adminSearch:hover {
  border: 1px #ddd solid;
  color: var(--black);
  background: #ddd;
  cursor: pointer;
  transition: 500ms;
}
/* .userInfo .filter input {
  width: 70%;
} */
div.adminFilter {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}
.adminFilter input {
  border: 3px #ddd solid;
  padding: 5px;
  width: 75%;
}

/* ------Admin searcher ends---- */
#accountSection .user > table {
  width: 100%;
  min-width: 700px;
  margin: 10px auto 20px auto;
  z-index: 2;
}
table th {
  text-align: center;
}
table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}
.bankAccountInfo th,
td {
  padding: 7px;
}
table td a {
  text-decoration: none;
}
table td #tableInfo {
  color: var(--primaryColor);
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
table td #tableInfo:hover {
  color: rgb(38, 94, 150);
  transition: 500ms;
}
table caption {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
tr:nth-child(even) {
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #ddd;
}
.viewAllBtn a {
  background: var(--primaryColor);
  color: var(--white);
  font-size: 15px;
  border-radius: 4px;
  padding: 10px;
}
.viewAllBtn a:hover {
  border: 1px #ddd solid;
  color: var(--black);
  background: #ddd;
  cursor: pointer;
  transition: 500ms;
}
.accBal {
  width: 90%;
  margin: 10px auto 20px auto;
  /* z-index: 2; */
}
/* --- bank account record--- */
#accountSection .accountOwnerInfo {
  text-align: center;
  display: block;
  width: 100%;
}

.ownerImg {
  height: 90px;
  width: 90px;
  border: 2px #ddd solid;
  border-radius: 100%;
}
.ownerImg:hover {
  opacity: 0.8;
}
.ownerInfo > ul {
  text-align: left;
}

#accountSection .operations {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.activate {
  width: 100%;
}
.payment {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}
.payment .paymentInput {
  font-size: 18px;
  padding: 5px;
  width: 45%;
}
.paymentBtn {
  background: var(--primaryColor);
  color: var(--white);
  font-size: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  width: 55px;
}
.paymentBtn2 {
  margin-right: 35px;
}
.paymentBtn:hover {
  border: 1px #ddd solid;
  color: var(--black);
  background: #ddd;
  cursor: pointer;
  transition: 500ms;
}

/* -----Toggle----- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 31px;
  font-size: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primaryColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primaryColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.deleteAccount {
  width: 100%;
  text-align: center;
}
.deleteBtn {
  text-align: center;
  width: 40%;
  padding: 7px;
  border: 1px #fff solid;
  border-radius: 3px;
  color: #fff;
  background: #d40424;
}
.deleteBtn:hover {
  opacity: 0.8;
}
.deleteAccountModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /*Sit on top*/
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.deleteModalContent {
  z-index: 100;
  text-align: left;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}
.deleteModalContent > p {
  line-height: 35px;
}
.confirmBtn {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.confirmbtn {
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
}
.confirmbtn:hover {
  opacity: 0.8;
}
#deleteAccountBtn {
  width: 80px;
  color: #fff;
  background: #3f464c;
  border-color: #3f464c;
}
#cancelDeleteBtn {
  width: 80px;
  color: #fff;
  background: #d40424;
  border-color: #d40424;
}
.changePasswordModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 150; /*Sit on top*/
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.changePasswordModalContent {
  z-index: 100;
  text-align: left;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}
.changePasswordModalContent > form > div > input {
  padding: 6px;
  width: 90%;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font: "Roboto Slab", serif;
}
#savePassword {
  width: 80px;
  color: #fff;
  background: #3f464c;
  border-color: #3f464c;
}
#cancel {
  width: 80px;
  color: #fff;
  background: #d40424;
  border-color: #d40424;
}
.transDes {
  text-align: left;
}
footer {
  text-align: center;
  width: 100%;
  margin: 20px auto 0 auto;
  position: fixed;
  bottom: 0;
  font-size: 10px;
}
/* --- bank account record ends--- */

/* Mobile styling ends here */
/* small devices */
@media only screen and (min-width: 731px) {
  /* .formModal{
    width: 60%;
  }
  .formModal .loginBtn {
    width: 65%
  } */
}
/* Tablet and others */
@media only screen and (min-width: 768px) {
  .formModal input {
    padding: 6px;
    width: 80%;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font: "Roboto Slab", serif;
  }
  .formModal {
    width: 60%;
  }
  .formModal .loginBtn {
    width: 74%;
  }
  footer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    font-size: 15px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .transactionPage,
  .userAccountCoverPage {
    width: calc(100% - 15%);
    margin-left: 15%;
  }
  .transactionPage {
    margin-top: 150px;
  }
  #accountSection {
    margin-top: 100px !important;
  }
  .landing #nav-container .nav-title #logo {
    margin-left: 5px;
    font-size: 50px;
  }
  .formModal input {
    width: 70%;
    padding: 10px;
  }
  .formModal select {
    padding: 10px;
    width: 74%;
  }
  .formModal #img {
    padding: 10px;
    width: 77%;
    color: #d9cec6;
  }
  .formModal #img input {
    margin-right: 10px;
  }
  .formModal label {
    float: left;
    text-align: left;
    margin-left: 52px;
  }
  .formModal .loginBtn {
    width: 65%;
  }

  .innerFooter {
    width: 70%;
  }

  .innerFooter > .reset {
    float: left;
  }
  .innerFooter > .create {
    float: right;
  }
  .formModal {
    width: 30%;
  }
  .formModal > a h1 {
    margin: 30px 0;
  }
  .userAccountCoverPage .accountInfo {
    text-align: center;
    width: 100%;
  }
  .userAccountCoverPage .accountInfo .transactionInfo {
    text-align: left;
    width: 100%;
  }
  .userAccountCoverPage h4 {
    font-size: 25px;
    margin-left: 18%;
  }
  div.infoDiv {
    font-size: 20px;
  }
  .userAccountCoverPage div.viewAllBtn {
    float: right;
    font-size: 20px;
    padding: 10px;
  }
  div.topDivs {
    width: 80%;
  }
  .userAccountCoverPage #accountSection {
    /* max-width: max-content; */
    width: 100%;
    margin: 20px auto;
    font-size: 20px;
    line-height: 45px;
  }

  #accountSection ul li b {
    padding: 0 5px;
  }
  .userAccountCoverPage #accountSection .details {
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    line-height: 45px;
  }
  .userAccountCoverPage #accountSection ul {
    list-style: none;
  }
  .userInfo .filter {
    display: inline-flex;
    width: 78%;
    margin: 0 16%;
    font-size: 20px;
  }
  div.adminFilter {
    justify-content: center !important;
  }
  .searcher {
    min-width: 50%;
  }
  .filter #filtr {
    font-size: 18px;
    padding: 8px 7px;
  }
  .userInfo .filter .searcher {
    width: 50%;
  }
  .searcher {
    min-width: 0;
    margin: 8px 0;
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /* height: 100%; */
    min-height: 100%;
    width: 45%;
    margin-left: -45%;
    background: var(--primaryColor);
    color: var(--white);
    transition: all 0.5s;
    z-index: 1;
    /* opacity: 0.9; */
  }

  .sidebar #logo {
    color: var(--white);
    font-size: 40px;
    padding: 2px 10px;
  }
  .accountInfo {
    width: 100%;
    /* line-height: 40px; */
    font-size: 25px;
  }
  nav span {
    font-size: 25px;
    font-weight: bolder;
    color: #000;
  }
  #menuLogo {
    display: none;
  }
  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px 0;
  }
  .landingProfile .menuItems {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 15px;
  }

  .sidebar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    margin: 0 auto;
    background: var(--primaryColor);
    color: var(--white);
  }
  .sidebarItems {
    padding-left: 15px;
    line-height: 50px;
  }
  .sidebar img:hover {
    opacity: 0.8;
  }
  .sidebarItems a:hover {
    cursor: pointer;
    color: #d9cec6;
  }
  .landingProfile h4 {
    display: none;
  }
  #accountSection table {
    width: 100%;
    font-size: 15px;
  }
  table td #tableInfo {
    color: var(--primaryColor);
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }
  th,
  td {
    padding: 8px;
  }
  #accountSection .bankAccountInfo {
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
    /* min-width: 500px; */
  }
  #accountSection .user {
    overflow: hidden;
    max-width: 65%;
    margin: 0 auto;
    /* min-width: 500px; */
  }
  .bankAccountInfo .innerFooter {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 25px;
  }
  .accBal {
    width: 50% !important;
    margin: 10px auto 20px auto;
    z-index: 2;
  }
  table caption {
    font-size: 15px;
  }
  #accountSection .accountOwnerInfo {
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
  .ownerImg {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
  }
  .ownerImg:hover {
    opacity: 0.8;
  }
  .ownerInfo {
    width: 50%;
    border: none;
    background: #ddd;
    border-radius: 4px;
    border: 1px black solid;
  }
  .ownerInfo > ul {
    text-align: left;
    padding: 5px;
  }
  #accountSection .operations {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
  .payment {
    display: inline-flex;
    justify-content: initial;
    padding: 10px;
    /* width: 100%; */
  }
  .paymentBtn {
    margin: 0;
    border: 1px #ddd solid;
  }
  .paymentBtn2 {
    margin: 0;
  }
  .switch {
    line-height: 30px;
  }
  .deleteBtn {
    font-size: 17px;
    width: 30%;
    padding: 10px;
  }
  .deleteModalContent,
  .changePasswordModalContent {
    width: 40%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/* Reset- zero out the margin */
